
  <nav class="navbar navbar-dark navbar-expand-sm align-items-end header_bg">
    <div class="container">
      <div class="navbar-brand">Iron Web Development</div>
      <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#">Home</a>
          <a class="nav-item nav-link" href="#">Design</a>
          <a class="nav-item nav-link" href="#">Administration</a>
          <a class="nav-item nav-link" href="#">Other Projects</a>
          <a class="nav-item nav-link" href="#">About us</a>
      </div><!-- navbar-nav -->
    </div><!-- container -->
  </nav>
