<head>
  <div class="container mt-4">
    <h2>Welcome! This is the header.</h2>
  <div>
</head>

<body>
  <div class=container mt-4>
    <h3>Hello, world!  This is the body</h3>
    <p>
      The time is now: <%= Time.now %>
    </p>
  </div>
</body>
